@media only screen and (max-width: 1000px) {
    .right {
        display: none;
    }

    .left {
        display: none;
    }
}

.bak-color {
    background-color: #ffff !important;
}

.main {
    display: flex;
}

.nev-input {
    border-style: none;
    background-color: #f0f2f5;
    border-radius: 20px;
    height: 35px;
    outline: none;
    width: 200px;

}

.main-nave {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;


}

.story-box {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.my-pic {
    border-radius: 50%;
}

.story-border {
    border-radius: 10px !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 150px !important;
    margin: 12px;
    padding: 0px !important;
}

.nav-icon>img {
    margin-right: 70px !important;
}

.nav-icon-right>img {
    margin-left: 15px !important;

}

.modal-card {
    text-align: center;
}

.text-area {
    border-style: none;
    outline: none;
}

.bg-blue {
    background-color: blue !important;
}

.creat-post-input {
    padding: 6px;
    background-color: #ffff;
    width: 97%;
    height: 200px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.contant {
    background-color: #f0f2f5;
    width: 40%;
    position: absolute;
    left: 29%;
    top: 50px;

}

.input {
    background-color: #f0f2f5;
    border-radius: 20px;
    border-style: none;
    outline: none;
    height: 40px;
    width: 60%;
}

.pic-padding {
    padding: 4px;
}

.div-line {
    background-color: #a1a1a3;
    height: 2px;
    margin-top: 30px;

}

.inline-block {
    display: inline-block;
}

.icon-under-div {
    display: flex;
    justify-content: space-between;
    color: #65676b;
    margin-top: 40px;
}

.right {
    position: fixed;
    right: 0px;
    top: 50px;
}

.left {
    position: fixed;
    left: 0px;
    top: 50px;
}

.postCard {
    padding: 6px;
    background-color: #ffff;
    width: 97%;
    height: 300px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    word-wrap: break-word;
}

.bg-0 {
    padding-top: 30px;
    background-image: url(pic/bg-0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bg-1 {
    padding-top: 30px;
    background-image: url(pic/bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bg-2 {
    padding-top: 30px;
    background-image: url(pic/bg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bg-3 {
    padding-top: 30px;
    background-image: url(pic/bg-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bg-4 {
    padding-top: 30px;
    background-image: url(pic/bg-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}